.image {
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
  width: 99%;


}

.demo-book {
  align-items: center;
}

.div-book{
  width: 1000px;
  display: flex;
  align-items: center;
}

.App{
  display: flex;
  align-items: center;
}
